<html>
    <head>
        <%- include("/head") %>
    </head>
    <body>
        <%- include("/header") %>
        <section class='canvas constrict'>
            <div class='page'>

                <% global.blog.collections.datesYear.forEach(collection => {
                    collection.posts.forEach(post => {
                        %><p><a href='<%= post.url %>'><%= post.title %></a></p><%
                    })
                }) %>
                
            </div>
        </section>
        <%- include("/footer") %>
    </body>
</html>