<html>
    <head>
        <%- include("/head") %>
    </head>
    <body>
        <%- include("/header") %>
        <section class='canvas constrict'>
            <div class='page'>
                <% global.blog.groups.datesYear.forEach(group => {
                    group.posts.forEach(post => {
                        %><p><a href='<%= post.url %>'><%= post.title %></a></p><%
                    })
                }) %>
            </div>
        </section>
        <%- include("/footer") %>
    </body>
</html>