<html>
    <head>
        <%- include("/head") %>
    </head>
    <body>
        <%- include("/header") %>
        <%- include("/jumbotron") %>
        <section class='page constrict'>
            <h1><%= page.title %></h1>
            <p>Vestibulum nibh eros, dictum non enim quis, ornare congue nunc. Nam neque massa, pretium vel orci eget, dapibus maximus eros. In hac habitasse platea dictumst. Sed vel convallis nisl. Aenean in pretium libero. Fusce finibus tincidunt orci, sit amet tristique mi fermentum eu. Vestibulum ullamcorper tincidunt blandit. Aliquam erat volutpat. Donec nec aliquet tortor. Etiam auctor leo arcu, et vestibulum enim tincidunt et. Ut a ullamcorper quam, a imperdiet tortor. Nam venenatis mauris quis velit elementum dictum. Sed vel ipsum sit amet nisi iaculis pellentesque.</p>
            <p>Vestibulum nibh eros, dictum non enim quis, ornare congue nunc. Nam neque massa, pretium vel orci eget, dapibus maximus eros. In hac habitasse platea dictumst. Sed vel convallis nisl. Aenean in pretium libero. Fusce finibus tincidunt orci, sit amet tristique mi fermentum eu. Vestibulum ullamcorper tincidunt blandit. Aliquam erat volutpat. Donec nec aliquet tortor. Etiam auctor leo arcu, et vestibulum enim tincidunt et. Ut a ullamcorper quam, a imperdiet tortor. Nam venenatis mauris quis velit elementum dictum. Sed vel ipsum sit amet nisi iaculis pellentesque.</p>
            <h2>Further Reading</h2>
            <p>Vestibulum nibh eros, dictum non enim quis, ornare congue nunc. Nam neque massa, pretium vel orci eget, dapibus maximus eros. In hac habitasse platea dictumst. Sed vel convallis nisl. Aenean in pretium libero. Fusce finibus tincidunt orci, sit amet tristique mi fermentum eu. Vestibulum ullamcorper tincidunt blandit. Aliquam erat volutpat. Donec nec aliquet tortor. Etiam auctor leo arcu, et vestibulum enim tincidunt et. Ut a ullamcorper quam, a imperdiet tortor. Nam venenatis mauris quis velit elementum dictum. Sed vel ipsum sit amet nisi iaculis pellentesque.</p>
            <h2>Good Luck Reading</h2>
            <p>Vestibulum nibh eros, dictum non enim quis, ornare congue nunc. Nam neque massa, pretium vel orci eget, dapibus maximus eros. In hac habitasse platea dictumst. Sed vel convallis nisl. Aenean in pretium libero. Fusce finibus tincidunt orci, sit amet tristique mi fermentum eu. Vestibulum ullamcorper tincidunt blandit. Aliquam erat volutpat. Donec nec aliquet tortor. Etiam auctor leo arcu, et vestibulum enim tincidunt et. Ut a ullamcorper quam, a imperdiet tortor. Nam venenatis mauris quis velit elementum dictum. Sed vel ipsum sit amet nisi iaculis pellentesque.</p>
        </section>
        <%- include("/footer") %>
    </body>
</html>