<html>
    <head>
        <%- include("/head") %>
    </head>
    <body>
        <%- include("/header") %>
        <%- include("/jumbotron") %>
        <section class='canvas constrict'>
            <div class='page'>
                <%- page.content %>
            </div>
        </section>
        <%- include("/footer") %>
    </body>
</html>