<html>
    <head>
        <%- include("/head") %>
    </head>
    <body>
        <%- include("/header") %>
        <%- include("/jumbotron") %>
        <section class='page constrict'>
            <%- page.content.parsed %>
        </section>
        <%- include("/footer") %>
    </body>
</html>