<html>
    <head>
        <%- include("/head") %>
        <style>
            .toc {
                float:left;
                width:150px;
            }
            .toc > ul > li {
                padding-bottom:30px;
                font-weight:bold;
                line-height:1.3;
            }
            .toc > ul > li > ul > li {
                padding-left:20px;
                font-size:smaller;
                font-weight:normal;
                padding-top:8px;
                line-height:1.3;
            }
            .page {
                margin-left:180px;
                padding-left:30px;
                border-left: solid 1px #AAA;
            }
        </style>
    </head>
    <body>
        <%- include("/header") %>
        <%- include("/jumbotron") %>
        <section class='canvas constrict'>
            <div class='toc'>
                <ul>
                <% Object.keys(page.toc).forEach(heading => { %>
                    <li>
                        <%= heading %>
                        <ul>
                            <% Object.keys(page.toc[heading]).forEach(linkName => { %>
                                <li><a href='<%- page.toc[heading][linkName] %>'><%= linkName %></a></li>
                            <% }) %>
                        </ul>
                    </li>
                <%  }) %>
            </ul>
            </div>
            <div class='page'>
                <%- page.content %>
            </div>
        </section>
        <%- include("/footer") %>
    </body>
</html>