<html>
    <head>
        <%- include("/head") %>
    </head>
    <body>
        <%- include("/header") %>
        <%- include("/jumbotron") %>
        <section class='canvas constrict'>
            <div class='page' style='background-color:#FFF;border:solid 1px #CCC;padding:0 45px 45px 45px;'>
                <%- page.content %>
            </div>
        </section>
        <%- include("/footer") %>
    </body>
</html>